:root {
  --primary: #43640b;
  --bg: #d3dcc8;
  --order: #d3dcc8;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 7%;
  background-color: rgba(128, 167, 26, 0.8);
  border-bottom: 3px solid #43640b;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.navbar .navbar-logo span {
  color: #43640b;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.8);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/salad-bar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 95%;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(211, 220, 200) 35%,
    rgba(255, 255, 255, 0) 95%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 38rem;
}
.hero .content h1 {
  font-size: 3em;
  color: #80a71a;
  /* text-shadow: 1px 1px 3px rgb(74, 101, 6); */
}

.hero .content h1 span {
  color: #43640b;
  text-shadow: none;
}
.hero .content p {
  color: #43640b;
  font-size: 1.2rem;
  margin-top: 0.2rem;
  line-height: 1.4;
  font-weight: 500;
}
.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.4rem;
  padding: 1rem 3rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgb(74, 101, 6);
}

/* About Section */
.about,
.menus,
.contact {
  padding: 10rem 7% 1.4rem;
}

.about h2,
.menus h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  color: #80a71a;
  margin-bottom: 3rem;
}
.about h2 span,
.menus h2 span,
.contact h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}
.about .row .about-img img {
  width: 100%;
}
.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #80a71a;
}
.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.6;
  color: #43640b;
}

/* Menu Section */
.menus h2,
.contact h2 {
  margin-bottom: 1rem;
}
.menus p,
.contact p {
  text-align: center;
  max-width: 45rem;
  margin: auto;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.6;
  color: var(--primary);
}

.menus .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
  color: var(--primary);
}

.menus .row .menu-card {
  text-align: center;
  padding-bottom: 2rem;
}
.menus .row .menu-card img {
  border-radius: 50%;
  width: 60%;
}
.menus .row .menu-card .menu-card-title {
  margin: 1.5rem auto 0.5rem;
}

/* Contact section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #d7e8c171;
  border-radius: 2rem;
}
.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}
.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 2px solid #43640b;
  border-radius: 0.3rem;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  background: none;
  color: var(--primary);
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: var(--white);
  background-color: var(--primary);
  cursor: pointer;
  border-radius: 0.5rem;
}
/* footer */
footer {
  background-color: #80a71a;
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}
footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}
footer .socials a:hover,
footer .links a:hover {
  color: var(--primary);
}
footer .links {
  margin-bottom: 1.6rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--primary);
  font-weight: 700;
}

/* media queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #43640b;
    width: 25rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #fff;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a:hover {
    color: #d3dcc8;
  }
  .navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.2rem;
    border-bottom: 0.1rem solid var(--order);
    transform: scaleX(0);
    transition: 0.2s linear;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.25);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }
  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about .row .content p {
    font-size: 1.5rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }
  .contact .row form {
    padding-top: 0;
  }
}

/* mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
